@import '../../styles/variables';

.background {
	background: $purple;
	background: linear-gradient(45deg, $purple 0%, $blue 100%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		text-align: center;

		h1,
		p {
			color: $white;
		}

		h1 {
			font-size: 4rem;
			margin-bottom: $spacer * 2;
		}

		p {
			font-weight: 300;
			font-size: 2rem;
			font-style: italic;
		}
	}
}
