@import '../../styles/variables';

.links {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: $spacer;

	a {
		color: $white;

		&:not(:last-of-type) {
			margin-right: $spacer;
		}
	}
}
